*{
    margin: 3% 4% 3% 4%;
    font-family: sans-serif;

}

.lanes{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }
}

.box{
    width: 100%;
    font-size: 1rem;
}


a{
    text-decoration: none;
}

header ul li {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

main ul li{
    list-style: circle;
}